*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-text{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

/* header and navigation style */
header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner styles */
.banner{
    margin: 0 0 0 200px;
    display: flex;
    align-items: center;
}
.banner h3{
    font-weight: 600;
    font-size: 45px;
}
.banner h1{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Aobut section */
.about{
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;

}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.about p{
    color: #757575;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    font-size: 20px;
    color: #474747;
    margin-bottom: 0;
}
.about-info .info-description{
    font-weight: 700;

}
